{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2 style="font-size: 50px;">
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5" style="font-size: 50px;"">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div style="font-size: 17px;">
{{ readme | markdown }}

</div>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>

    <table>
        <tr>
            <th>Time</th>
            <th>Session</th>
            <th>Speaker</th>
            <th>Topic</th>
        </tr>

        <tr>
            <td>9:00</td>
            <td>Session</td>
            <td>Hanna Hajishirzi</td>
            <td>OLMo: Accelerating the Science of Language Modeling</td>
        </tr>
    
        <tr>
            <td>9:30</td>
            <td></td>
            <td>Stella Biderman</td>
            <td>“Ethical" != "Closed":
Building a Better World in the Open</td>
        </tr>
    
        <tr>
            <td>10:00</td>
            <td></td>
            <td>Sara Hooker</td>
            <td></td>
        </tr>
    
        <tr>
            <td>10:30</td>
            <td>Coffee Break</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>11:00</td>
            <td>Session</td>
            <td>John Cook</td>
            <td>Building an ecosystem, Not a Monolith</td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Tim Dettmers</td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Kathleen Kinealy</td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Eugene Cheah</td>
            <td>Building a roadmap, from idea to large-scale model training</td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Leshem Choshen</td>
            <td>Wiki-models through Natural Feedback</td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Ying Sheng</td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Hector Liu</td>
            <td>From open source to collaborative LLM research</td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Justin Maier</td>
            <td></td>
        </tr>
    
        <tr>
            <td>12:30</td>
            <td>Lunch</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>1:30</td>
            <td>Group walk</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>2:30</td>
            <td></td>
            <td>Peter Henderson</td>
            <td>What are the possibilities and limits for safety in open-source foundation models?</td>
        </tr>
    
        <tr>
            <td>3:00</td>
            <td></td>
            <td>Daphne Ippolito</td>
            <td>Data Curation is not One-Size-Fits-All</td>
        </tr>
    
        <tr>
            <td>3:30</td>
            <td>Breakout</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>4:30</td>
            <td>Breakout: Reporting</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>9:00</td>
            <td>Session</td>
            <td>Ludwig Schmidt</td>
            <td>"Open source AI for multimodality: OpenCLIP, LAION, and DataComp</td>
        </tr>
    
        <tr>
            <td>9:30</td>
            <td></td>
            <td>Hao Zhang</td>
            <td></td>
        </tr>
    
        <tr>
            <td>10:00</td>
            <td></td>
            <td>Tatsunori Hashimoto</td>
            <td></td>
        </tr>
    
        <tr>
            <td>10:30</td>
            <td>Coffee Break</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>11:00</td>
            <td>Session</td>
            <td>Greg Leppert</td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Yacine Jernite</td>
            <td>The roles of data access and transparency</td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Swabha Swayamdipta</td>
            <td>When all you have are Logits… Towards (Closed-Source) LLM Accountability via Logit Signatures.</td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Danqi Chen</td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Louis Castricato</td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Irina Rish</td>
            <td></td>
        </tr>
    
        <tr>
            <td></td>
            <td></td>
            <td>Suraj Patil</td>
            <td></td>
        </tr>
    
        <tr>
            <td>12:30</td>
            <td>Lunch</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>2:00</td>
            <td>Session</td>
            <td>Tegan Maharaj</td>
            <td>What are the possibilities and limits for safety in open-source foundation models</td>
        </tr>
    
        <tr>
            <td>2:30</td>
            <td></td>
            <td>Graham Neubig</td>
            <td></td>
        </tr>
    
        <tr>
            <td>3:00</td>
            <td></td>
            <td>Soumith Chintala</td>
            <td>We need to create a sinkhole: fixing the post-training data problem for open-source models</td>
        </tr>
    
        <tr>
            <td>3:30</td>
            <td>Wrap-Up Discussion: Next Steps</td>
            <td></td>
            <td></td>
        </tr>
    
    </table>

<!-- Organizers -->
{{ components.section("Organizers") }}
{{ components.organizergroup(committee) }}

{% endblock %}
